NEON_URL="
PURCHASE_CALLBACK_URL="https://tickets.communityos.io/purchase_callback"
HIGHLIGHT_PROJECT_ID=""
SANITY_PROJECT_ID=""
SANITY_DATASET=""
SANITY_API_VERSION=""
SANITY_SECRET_TOKEN=""
STRIPE_KEY=""
MERCADOPAGO_KEY=""
RESEND_API_KEY=""
SUPABASE_JWT_DECODER""
SUPABASE_JWT_ENCODER=""

ENFORCED_JWT_TOKEN=""
