NEON_URL="
PURCHASE_CALLBACK_URL="https://tickets.communityos.io/purchase_callback"
HIGHLIGHT_PROJECT_ID=""
RESEND_EMAIL_KEY=""
SANITY_PROJECT_ID=""
SANITY_DATASET=""
SANITY_API_VERSION=""
SANITY_SECRET_TOKEN=""
STRIPE_KEY=""
MERCADOPAGO_KEY=""
SUPABASE_JWT_DECODER""

ENFORCED_JWT_TOKEN=""
