.vscode/settings.json
.yalc
yalc.lock

# For emails
.react-email

# For workers cache
.wrangler

build
src/@types/schema.generated.ts
node_modules
.env

yarn-error.log
*.vars

.test_dbs

.eslintcache
coverage
tsconfig.tsbuildinfo

.DS_STORE
